@import "tailwindcss";

@theme {
  --color-Black: #1E1E1E; 
  --color-White: #FFFFFF;
  --color-darkGrey: #78dcca; 
  --color-Primary: #1E365C;
  --color-Secondary: #E9482B;
  --color-lightGrey: #78dcca;
  --color-Grey: #8F8F8F;
  --color-Icon: #3ab7bf;
  --color-Middle: #FFAE00;
  --color-Negative: #C60F13;
  --color-Positive: #3ab7bf;
  --color-strokeLight: #78dcca;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
